<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/logo.png" class="flavicon">
        <title>Projet Amboise — A propos</title>
        <meta name="og:image" content="/img/logo.png">
        <meta name="theme-color" content="#d34343">

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" media="screen and (max-width: 1250px)" href="/css/mobile.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
        <script src="https://kit.fontawesome.com/74ba3d64b1.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>

    <body>
        <div class="home__main" style="height: inherit; min-height: 100vh">
            <header><%- include('./parts/header'); -%></header>

            <div class="container about__section reveal">
                Pendant l'année scolaire 2022-2023, un projet de soirée de fin d'année a été mis en place.
                <br>Celui-ci nécessitant des fonds, plusieurs petits projets ont vu le jour comme notre jeu vidéo : <span>Projet Amboise</span>.<br>
                
                <br>Avec pour ambition de modéliser en 3D tout l'établissement pour y jouer, elle s'est restreinte à la cour de récréation principalement.
                <br>Le but était de regrouper un maximum d'élèves qui s'affronteraient dans un FPS (First Person Shooter), ce qui est encore le cas aujourd'hui.<br>

                <br><span>Projet Amboise</span> vous permet donc d'affronter vos amis dans l'établissement et de participer au financement d'une soirée.
                <br>En effet, nous sommes trois terminales derrière ce projet et souhaitons reverser les bénéfices des ventes pour le bal.
                <br>Il est toutefois à noter que ce projet n'est en aucun cas affilié avec un établissement scolaire, il n'est rien d'autre qu'un projet étudiant.<br>

                <br><u>Important</u> : d'après <a href="https://pegi.info/fr" style="font-style: italic">www.pegi.info</a>, Projet Amboise correspondrait à une classification PEGI 12 (le jeu serait donc déconseillé aux moins de 12 ans).
                <br>En effet, le jeu ne comporte pas de sang ou de scène violente, il s'apparente à un laser game dans un environnement cartoon.<br>

                <br>D'ailleurs si vous ne le saviez pas, nous avons un serveur discord regroupant les nouveautés et évènements ; <a href="/discord">cliquer ici pour le rejoindre</a>.
            </div>
            
            <%- include('./parts/media_section'); -%>
        </div>

        <style>.media__section { padding-top: 50px!important }</style>
        

        <!-- --------- JAVASCRIPT FILES -->
        <script src="/js/main.js"></script>
    </body>
</html>