<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/logo.png" class="flavicon">
        <title>Projet Amboise — Boutique</title>
        <meta name="description" content="Projet Amboise est un jeu fait par des terminales du lycée d'Amboise aidant au financement du bal des Terminales.">
        <meta name="og:image" content="/img/logo.png">
        <meta name="theme-color" content="#d34343">

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/profile.css">
        <link rel="stylesheet" media="screen and (max-width: 1250px)" href="/css/mobile.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
        <script src="https://kit.fontawesome.com/74ba3d64b1.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>

    <body>
        <div class="home__main">
            <header><%- include('./parts/header'); -%></header>

            <div class="container">
                <div class="buy_info">
                    <div class="is-title">Acheter le jeu</div>
                    <div class="is-title-second">5€ <span class="ttc">(TTC)</span></div>

                    <div class="description">
                        Projet Amboise est un jeu vidéo jouable sur <u>Windows et MacOS</u> (plus d'informations <a href="/about" style="font-size: 26px">ici</a>).
                        <br>Si vous rencontrez un problème, contactez-nous sur <a href="/discord" style="font-size:26px">discord</a> ou projet.amboise@gmail.com.
                    </div>
    
                    <form method="POST" action="/buy" class="mt-5">
                        <button class="submit-button" type="submit">Acheter maintenant</button>
                    </form>
                    En cliquant sur "Acheter maintenant", vous acceptez les <a href="/legal">Conditions Générales de Vente</a>.

                    <br><br>
                </div>
            </div>
        </div>


        <!-- --------- JAVASCRIPT FILES -->
        <script src="/js/main.js"></script>
    </body>
</html>