<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/logo.png" class="flavicon">
        <title>Projet Amboise — A propos</title>

        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" media="screen and (max-width: 1250px)" href="/css/mobile.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
        <script src="https://kit.fontawesome.com/74ba3d64b1.js"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>

    <body>
        <div class="home__main" style="height: inherit; min-height: 100vh">
            <header><%- include('./parts/header'); -%></header>

            <div class="container about__section reveal" style="line-height: 1.5">
                Cette page contient les présentes <a href="#mentions">Mentions légales</a>, <a href="#privacy">Politique de confidentialité</a> et <a href="cgv">Conditions générales de vente</a>.
                <br>Dernière mise à jour de la page : 26/05/2023.<br>
                <br>Pour toute information concernant le projet, veuillez consulter la page <a href="/about">à propos</a>.

                <section id="mentions">
                    <div class="title">Mentions légales</div>

                    <div class="subtitle" style="margin-top: 20px;">1. Le site</div>
                    Dénomination : Projet Amboise
                    <br>Email : projet.amboise@gmail.com
                    <br>Il est à noter que Projet Amboise est un projet étudiant.

                    <div class="subtitle">2. Hébergeur</div>
                    Le site est hébergé par CONTABO GMBH (localisation du siège social : GmbH Aschauer Strasse 32a 81549 Munich).

                    <div class="subtitle">3. Accès au site</div>
                    Le site et l'inscription d'un utilisateur sont accessibles gratuitement en tout lieu à tout utilisateur ayant un accès à Internet.<br>

                    <br>Dès lors que l'inscription de l'utilisateur est effectuée, il est responsable de l'usage qui est fait de son compte mais peut en demander la suppression.
                    <br>Lors de la connexion de l'utilisateur, son email et mot de passe seront demandés, ceux-ci sont strictement personnels et leur divulgation est interdite.
                    <br>La suspension ou suppression d'un compte peut être effectuée par les propriétaires en cas de non-respect de ces conditions.<br>

                    <br>En cas de dysfonctionnement ou d'interruption, Projet Amboise ne saura être tenu responsable.
                    <br>L'utilisateur est toujours en droit de contacter le site (par exemple avec l'email de <a href="#mentions">l'Article 1 des Mentions légales</a>).
                </section>

                <section id="privacy">
                    <div class="title">Politique de confidentialité</div>
                    Cette section informe les visiteurs du site de notre politique en matière de collecte et d'utilisation des informations.
                    <br>Si vous choisissez d'utiliser notre service, vous acceptez la collecte et l'utilisation des informations selon les modalités décrites dans la présente politique.

                    <div class="subtitle" style="margin-top: 20px;">1. Collecte et utilisation des informations</div>
                    Les seules informations que nous collectons sont les informations que vous fournissez lors de votre inscription.
                    <br>Ces informations personnelles sont d'ailleurs associés à un identifiant unique, la date de création du compte ainsi que ses accès.<br>

                    <br>Même si votre mot de passe est entièrement chiffré, vos informations sont utilisées pour le bon fonctionnement du site ; elles ne seront jamais partagées.
                    <br>Concernant la consultation et la rectification de vos données, cela peut être fait sur la page "Mon compte", accessible une fois que vous êtes connecté.

                    <div class="subtitle">2. Cookies</div>
                    Les cookies utilisés sont des identifiants de session, pour vous permettre de rester connecté.
                    <br>Pour rappel, les cookies sont stockés sur le disque dur de votre ordinateur et non sur notre base de données.
                </section>

                <section id="cgv" style="padding-bottom: 50px;">
                    <div class="title">Conditions générales de vente</div>
                    
                    <div class="subtitle" style="margin-top: 20px;">1. Objet</div>
                    Cette section détaille les droits et obligations de Projet Amboise et d'un acheteur dans le cadre de la vente du jeu (plus d'informations <a href="/about">ici</a>).
                    <br>Toute validation d'achat avec la clause "J'accepte les conditions générales de vente" implique l'adhésion aux présentes conditions générales de vente (CGV).

                    <div class="subtitle">2. Responsabilité associé à votre compte</div>
                    En tant que détenteur d'un compte sur le site, vous êtes responsable de tous les frais encourus et de tous les achats réalisés en votre nom.
                    <br>Si vous supprimez votre compte, Projet Amboise se réserve le droit de percevoir les frais réalisés par le compte avant la suppression.

                    <div class="subtitle">3. Paiement</div>
                    Le règlement des achats s'effectue en ligne (PayPal) via le compte PayPal du Vendeur de l'article 4.
                    <br>Aucun escompte n'est accepté pour un quelconque paiement anticipé.

                    <div class="subtitle">4. Vendeur</div>
                    Le règlement passe par le compte PayPal de l'Association des Anciens de l'Ecole Sainte-Marie et du Lycée d'Amboise.

                    <br><br>Voici les informations pour contacter l'Association :
                    <br>Siège social de l'Association : 13 Boulevard Carnot 81000 ALBI
                    <br>Numéro de téléphone : 0630434296.
                    <br>Email : tresorier@anciens-saintemarie-amboise.fr

                    <div class="subtitle">5. Prix</div>
                    Les prix des offres vendues sont ceux en vigueur sur le site au moment de l'achat et sont libellés en euros.
                    Projet Amboise s'accorde toute modification des tarifs mais s'engage à facturer les offres au prix indiqué lors de l'achat.

                    <div class="subtitle">6. Retours</div>
                    Toute annulation de commande doit faire l'objet d'un accord formel entre le vendeur et l'acquéreur.

                    <div class="subtitle">7. Garantie</div>
                    Projet Amboise apportera le plus grand soin à la qualité des offres achetées.
                    <br>En cas de problème reconnu, ce dernier s'engage au remplacement ou remboursement de l'offre concernée.

                    <div class="subtitle">8. Durée</div>
                    Le présent Accord prend effet à compter du jour où vous acceptez les présentes conditions générales de vente et ce jusqu'à sa résiliation.

                    <div class="subtitle">9. Comportement sur le jeu</div>
                    Si vous avez acheté le jeu, Projet Amboise se réserve le droit de supprimer votre compte en cas d'utilisation de Cheat ou d'une conduite considérée
                    contraire à des règles de bon sens quant à vos rapports avec les autres joueurs en ligne.

                    <div class="subtitle">10. Clause résolutoire</div>
                    Si dans les trois jours qui suivent l'annonce d'un retard de paiement, l'acheteur n'a pas payé la somme due, la vente sera résolue de plein droit.

                    <div class="subtitle">11. "Livraison"</div>
                    Lors de l'achat du jeu, celui-ci est téléchargeable par l'acheteur directement sur la page "Mon profil".
                    <br>Pour des offres de customisation, ces dernières sont directement appliquées au profiln, et d'ailleurs consultable sur la page "Mon profil".

                    <div class="subtitle">12. Force majeure</div>
                    La responsabilité de Projet Amboise ne pourra pas être mise en oeuvre si la non-exécution ou le retard dans l'exécution de l'une de ses obligations décrites
                    dans les présentes conditions générales de vente découle d'un cas de force majeure.
                    <br>À ce titre, la force majeure s'entend de tout événement extérieur, imprévisible et irrésistible au sens de l'article 1148 du Code civil.

                    <div class="subtitle">13. Droit de rétractation</div>
                    Conformément aux dispositions légales en vigueur, l'acheteur peut exercer son droit de rétractation jusqu’à 14 jours après un achat.
                    <br>Pour cela, l'acheteur doit en faire la demande par mail (disponible dans <a href="#mentions">ici</a>) en y donnant ses informations<br>

                    <br>Le remboursement sera total au plus tard dans les 14 jours à compter de la date à laquelle Projet Amboise sera informé de la demande.
                </section>
            </div>
        </div>
        
        <style>
            section { color: var(--text-second); margin-top: 80px; }
            .title { font-size: 35px; color: var(--text); font-weight: bold; }
            .subtitle {
                font-size: 25px; color: var(--text);
                font-weight: bold; margin-top: 25px; margin-bottom: 7px;
            }
        </style>

        <!-- --------- JAVASCRIPT FILES -->
        <script src="/js/main.js"></script>
    </body>
</html>