@import url('https://fonts.cdnfonts.com/css/whitney-2');

:root {
    --backgroud-main: #2f3333; --background-alt: #272a2a;
    --text: #F1F1F1; --text-second: #dddddd; --text-third: #b4b4b4;
    --main-color: #d34343; --main-color-hover: #dd4646;
    --main-color-transparent: rgba(211, 67, 67, 0.692);
    --back2top: #383e3e; --back2top-hover: #424848;
}
* {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px; color: var(--text)
}
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background-color: var(--main-color); }
::-webkit-scrollbar-track { background-color: var(--backgroud-main); }

body.no-scroll { overflow: hidden; position: fixed; }

a, a:hover { text-decoration: none; }
body { line-height: 1.5; background-color: var(--background-alt); }
.d-flex { display: flex!important; }
.is-title { font-size: 40px; font-weight: bold; margin: 25px 0; }
.is-title-second { font-size: 35px; font-weight: bold; margin: 20px 0; }
.mobile { display: none; }
hr { background-color: var(--back2top); width: 90%; }

/* REVEAL SIMPLE EFFECT */
[class*="reveal"] { opacity: 0; transform: translateY(30px); }
.reveal-visible { opacity: 1; transform: translateY(0); transition: 1s cubic-bezier(.5, 0, 0, 1); }
.reveal-2 { transition-delay: .1.5s; } .reveal-3 { transition-delay: .2.5s; }


/* BACK TO TOP */
#back2Top {
    width: 40px; height: 40px; line-height: 40px;
    overflow: hidden; z-index: 1005; display: none; cursor: pointer;
    position: fixed; bottom: 50px; right: 30px;
    border-radius: 50%; background-color: var(--back2top);
    text-align: center; font-size: 25px;
    text-decoration: none; padding-top: 5px;
}
#back2Top:hover { background-color: var(--back2top-hover); }
#back2Top i { vertical-align: text-top; }


/* NAVIGATION BAR */
header { padding: 20px 5%; }
.heading-logo, .heading-logo:hover { left: 50%; transform: translateX(-50%); margin-top: -12px; }
.heading-logo, .heading-logo:hover { position: absolute; }
.heading-logo img { width: 140px }
.heading-logo:hover img { opacity: 60%; }

.nav__links { list-style: none; display: flex; padding-left: 0; }
.nav__links a { font-weight: 500; color: var(--text); text-decoration: none; }
.nav__links li { padding: 0px 10px; }
.nav__links li a { transition: all 0.3s ease 0s; font-size: 18.5px; }
.nav__links li a:hover { color: var(--main-color); }
.nav-button {
    overflow: hidden; position: relative; padding: 4px 18px!important;
    border-radius: 15px; cursor: pointer;
    color: var(--text); font-weight: bold;
    background-color: transparent;
    border: 2px solid var(--text-second);
}
.nav-button a { transition: none!important; }
.nav-button:hover, .nav-button:hover a, .nav-button a:hover {
    color: var(--backgroud-main)!important;
    background-color: var(--text-second);
}


.dropdown-main {
    width: 37.5px; height: 37.5px;
    text-align: center; display: block;
    border-radius: 50%; padding: 4px;
    background-color: var(--main-color-transparent);
}

.hide { display: none!important; }
.user-dropdown {
    display: block;
    background-color: var(--background-alt);
    position: absolute; z-index: 1000;
    transform: translate(-80%, 17px);
    padding: 8px; min-width: 210px;
    border-radius: 10px;
    border: solid 1px var(--back2top);
}
.dropdown-main { cursor: pointer; }
.user-dropdown .dropdown-item { color: var(--text)!important; padding: 0.5rem 1.5rem }
.user-dropdown .dropdown-item:hover {
    background-color: var(--background-alt);
    color: var(--main-color)!important; border-radius: 10px;
}
.user-dropdown::after {
    position: absolute;
    top: -8px; left: 177px;
    content: "";
    border-right: 9px solid transparent;
    border-bottom: 8px solid var(--back2top);
    border-left: 9px solid transparent;
}
.dropdown-item { text-align: left; }

.hamburger { display: none; }
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-color);
}


/* ___ HOME MAIN ELEMENT */
.first-child { height: 100%; background-image: url("/img/background"); background-size: cover; }
.home__main { background-color: var(--backgroud-main); height: 100vh; overflow: hidden; }
@media screen and (max-height: 590px) {
    .home__main-container { padding-top: 5%!important; }
}
.home__main-container { padding-left: 12%; padding-top: 10.5% }
.home__main-container .title { font-size: 35px; font-weight: bold; }
.home__main-container .subtitle, .home__main-container .subtitle i { font-size: 22px; color: var(--text-second) }

.home-buttons { margin-top: 65px; }
.main-button, .second-button {
    overflow: hidden; position: relative; padding: 10px 40px;
    border-radius: 15px; cursor: pointer; font-size: 1em;
    color: var(--text); margin-right: 15px; 
    letter-spacing: 1.5px; font-weight: bold;
}
@media screen and (max-width: 1010px) {
    .home-buttons {
        display: flex; margin-top: 40px;
        flex-direction: column; gap: 15px;
    }
    .main-button, .second-button { padding: 8px 40px; text-align: center; }
    .custom-computer { display: none; }
}
.main-button {
    background-color: var(--main-color-transparent);
    border: 2px solid var(--main-color);
}
.main-button:hover { background-color: var(--main-color-hover); color: var(--text); }
.second-button {
    background-color: transparent;
    color: var(--text);
    border: 2px solid var(--text-second);
}
.second-button:hover, .second-button:hover .fa-play {
    color: var(--backgroud-main); background-color: var(--text-second)
}
.second-button .fa-play { font-size: 15px; margin-left: 15px; margin-right: -10px; }

.home__main-bottom {
    position: absolute; bottom: 0; width: 100%; padding: 25px 10%;
     background-color: var(--background-alt);
}
.social-icons { flex-grow: 1 }
.social-icons a i {
    font-size: 25px; color: var(--text);
    transition: all 0.3s ease 0s; margin-right: 25px;
}
.social-icons a:hover i { color: var(--main-color); }
.legal-infos, .legal-infos span { font-size: 18px; color: var(--text-second) }
.legal-infos a { font-size: 18px; color: var(--main-color) }



/* ___ HOME BODY */
.home__body { padding-top: 140px; }


/* FEATURE SECTION */
.feature { display: flex; padding-bottom: 100px; justify-content: space-between; }
.feature img {
    border-radius: 10px; max-height: 300px;
    cursor: pointer; max-width: 525px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%);
}
.feature .img-2 { flex-grow: 2; margin-left: 25px; }
.feature .img-1 { flex-grow: 1; }
.feature-title { padding-top: 60px; font-size: 28px; font-weight: bold; color: var(--text-second); }
.feature p {
    color: var(--text-third); padding-top: 20px;
    font-size: 20px; max-width: 495px;
}
.feature p a { color: var(--main-color); font-size: 20px; }


/* MEDIA SECTION */
.media__section { padding: 100px 0; background-color: var(--backgroud-main); margin-top: 55px }
.media__section iframe { width: 100%; border-radius: .7rem }
.media__section .screenshots { display: flex; margin: 0 -15px; }
.screenshots .main-image, .screenshots .gallery-image { display: flex; }
.screenshots .main-image img, .screenshots .gallery-image img { width: 100%; border-radius: .7rem; cursor: pointer }
.screenshots .main-image { width: 50%; margin: 15px; }
.screenshots .gallery-image { width: 50%; flex-wrap: wrap; }
.screenshots .gallery-image img { width: calc(50% - 30px); margin: 15px; }

.modal {
    position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0);
    z-index: 10; display: block; height: 100%;width: 100%;
    background-color: var(--background-alt);
}
.modal.active { transform: translate(-50%, -50%) scale(1); }
.modal-header { padding: 10px 15px; display: block; border: none; }
.modal-header .close-button {
    cursor: pointer; border: none; outline: none;
    color: var(--main-color); float: right;
    background: none; font-size: 1.80rem; font-weight: bold;
}
.modal-body {
    padding: 17px 15px; margin-top: 80px;
    padding-left: 15px; padding-right: 15px;
    margin-left: auto; margin-right: auto; width: 98%
}

.slider { height: 75vh; position: relative; }
.slider_images .slider-img {
    object-fit: cover; position: absolute;
    height: 100%; width: 100%;
    top: 0; opacity: 0;
    transition: opacity .5s; border-radius: 10px;
}
.slider .slider-img.active { opacity: 1 }
.slider_main { position: relative; height: 100%; width: 100%; justify-content: center; }
.slider_images, .slider-img { width: 75%!important; }
.slider i {
    font-size: 35px; cursor: pointer;
    top: 50%; transform: translateY(-26%);
    color: var(--main-color)
}
.slider .previous, .slider .next { align-self: center }
.slider .previous:hover, .slider .next:hover { align-self: center; color: var(--main-color-hover) }
.slider .previous { margin-right: 25px;  }
.slider .next { margin-left: 25px; }
.slider_pagination_bubbles { display: flex; justify-content: center; gap: 1em; }
.slider_pagination_bubbles span {
    background: var(--back2top); cursor: pointer;
    width: .8em; height: .8em; border-radius: 1rem; transition: 0.3s ease width
}
.slider_pagination_bubbles .active { background-color: var(--main-color); width: 2em; }


/* DATA SECTION */
.data__section { padding-top: 100px; padding-bottom: 40px; }
.data_container { display: flex; justify-content: space-between; }
.data_counter a { font-style: bold; font-size: 50px; color: var(--text) }
.data_counter a:hover { cursor: pointer; }
.data_counter p { color: var(--text-third); font-size: 18px; }


/* ABOUT SECTION */
.about__section {
    padding-top: 5%; color: var(--text-second);
    font-size: 18px; line-height: 2;
}
.about__section span { color: var(--text); font-size: 18px; }
.about__section a { color: var(--main-color); font-size: 18px; }
.about__section i { font-size: 18px; }
.about__section a:hover { color: var(--main-color-hover); font-size: 18px; }