
.home__main { height: inherit!important; min-height: 100vh; }


.profile_info {
    padding: 20px 30px; border-radius: 10px;
    background-color: var(--background-alt);
}
.profile_info .info-element { display: flex; padding: 10px 0; }

@media screen and (max-width: 950px) {
    .element-name { flex: 0 0 50%!important; max-width: 50%!important; }
    .profile-buttons { flex-direction: column }
}
.element-name {
    font-size: 18px; max-width: 30%;
    flex: 0 0 30%; color: var(--text-second);
}
.profile-buttons { gap: 20px; }
.element-body { flex-grow: 2; font-size: 18px; color: var(--text-third) }

.edit-profile, .delete-profile {
    font-size: 18px; color: var(--text-second);
    border-radius: 15px; cursor: pointer; padding: 5px 30px;
}
.delete-profile { background-color: var(--main-color-transparent); }
.delete-profile:hover {
    transition: .15s; color: var(--text-second);
    background-color: var(--main-color);
}
.edit-profile { background-color: var(--back2top); }
.edit-profile:hover {
    transition: .15s; color: var(--text-second);
    background-color: var(--back2top-hover);
}


.game-message, .game-message a, .game-message u { padding-bottom: 30px; padding-top: 75px; font-size: 19px; }
.game-message a { color: var(--main-color); cursor: pointer }


.download_section { padding: 50px 0; }
#beta { margin-top: 30px; }
.download { display: flex; text-align: center }
.download-card {
    margin-right: 35px; width: 275px; min-height: 325px;
    background-color: var(--background-alt); border-radius: 10px;
}
.download-card-logo { text-align: center; padding: 50px 0; }
.download-card-logo i { font-size: 100px; }
.download-card button {
    margin-top: 25px; border: none; cursor: pointer;
    background-color: var(--back2top);
    padding: 15px; width: 85%; border-radius: 5px;
}
.download-card button:hover { background-color: var(--back2top-hover); }
.download-card button i { margin-right: 10px; }


.delete-section { padding-top: 8%!important; }
.delete-button { border: none; line-height: normal; margin-right: 10px; }

.token {
    background-color: var(--background-alt); padding: 15px 30px;
    color: var(--text-second); font-size: 18px;
    border-radius: 10px; margin-top: 25px;
}
.token a { font-size: 18px; color: var(--main-color) }
.token span { font-size: 22px; font-style: italic; color: var(--text-second); }