<div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>

<nav class="navbar">
    <ul class="nav__links">
        <li class="nav-item"><a href="/" class="nav-link nav-main">Accueil</a></li>
        <li class="nav-item"><a href="/about" class="nav-link nav-main">A propos</a></li>
        <li class="nav-item"><a href="/discord" class="nav-link nav-main">Contact</a></li>

        <div class="mobile">
            <hr style="margin-top: 30px;">
            <% if(req.isAuthenticated()) { %>
                <li class="nav-item" style="padding-top:0"><a href="/profile" class="nav-link nav-main">Mon compte</a></li>
                <li class="nav-item"><a href="/buy" class="nav-link nav-main">Acheter le jeu</a></li>
                <hr>

                <li class="nav-item" style="padding-top:0"><a href="/logout" class="nav-link nav-main">Se déconnecter</a></li>
            <% } else { %>
                <li class="nav-item" style="padding-top:0"><a href="/login" class="nav-link nav-main">Se connecter</a></li>
            <% } %>
        </div>
    </ul>
    
    <a class="heading-logo" href="/">
        <img src="/img/logo_850x200" alt="Logo" draggable="false">
    </a>

    <ul class="nav__links computer">
        <% if(req.isAuthenticated()) { %>
            <li class="nav-item nav-profile" id="nav-profile">
                <a onclick="dropdown()" class="dropdown-main nav-main"><%= req.user.prenom.split('')[0].toUpperCase() %></a>

                <div id="user-dropdown" class="user-dropdown hide" style="max-width:220px!important;">
                    <a class="dropdown-item" href="/profile">Mon compte</a>
                    <% if(req.user.game === null) { %> <a class="dropdown-item" href="/buy">Acheter le jeu</a> <% } %>
                
                    <hr>
                    <a class="dropdown-item" href="/logout">Se déconnecter</a>
                </div>
            </li>
        <% } else { %>
            <li class="nav-item nav-button"><a href="/login" class="nav-main">Se connecter</a></li>
        <% } %>
    </ul>
</nav>

<body><a id="back2Top" href="#"><i class="fas fa-chevron-up"></i></a></body>