<nav class="navbar">
    <ul class="nav__links">
        <li class="nav-item"><a href="/" class="nav-link nav-main">Accueil</a></li>
        <li class="nav-item"><a href="/about" class="nav-link nav-main">A propos</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link nav-main">Contact</a></li>
    </ul>
    
    <a class="heading-logo" href="/">
        <img src="/img/logo_850x200" alt="Logo" draggable="false">
    </a>

    <ul class="nav__links">
        <li class="nav-item nav-button"><a href="/login" class="nav-main">Se connecter</a></li>
    </ul>
</nav>